<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../../img/favicon.ico">
        <title>Components - Cave Engine Docs</title>
        <link href="../../css/bootstrap.min.css" rel="stylesheet">
        <link href="../../css/font-awesome.min.css" rel="stylesheet">
        <link href="../../css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/github.min.css">

        <script src="../../js/jquery-1.10.2.min.js" defer></script>
        <script src="../../js/bootstrap.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script> 
    </head>

    <body>
        <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="../..">Cave Engine Docs</a>
                <!-- Expander button -->
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Expanded navigation -->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                        <!-- Main navigation -->
                        <ul class="nav navbar-nav">
                            <li class="navitem">
                                <a href="../.." class="nav-link">Home</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../Docs/faq/" class="dropdown-item">Frequently Asked Questions (FAQ)</a>
</li>
                                    
<li>
    <a href="../../Docs/eula/" class="dropdown-item">License (EULA)</a>
</li>
                                    
<li>
    <a href="../../Docs/roadmap/" class="dropdown-item">Roadmap</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Release Notes <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../Docs/Releases/v098/" class="dropdown-item">Cave 0.9.8 (latest)</a>
</li>
                                    
<li>
    <a href="../../Docs/Releases/v097/" class="dropdown-item">Cave 0.9.7</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown active">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Python API <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../cave_module/" class="dropdown-item">Cave Module</a>
</li>
                                    
<li>
    <a href="./" class="dropdown-item active">Components</a>
</li>
                                    
<li>
    <a href="../math/" class="dropdown-item">Math</a>
</li>
                                    
<li>
    <a href="../eventNames/" class="dropdown-item">Event Names</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Examples <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../Examples/python/" class="dropdown-item">Python Scripting</a>
</li>
                                    
<li>
    <a href="../../Examples/tooling/" class="dropdown-item">Writting your own Tools</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Showcase <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../Showcase/games/" class="dropdown-item">Games Made with Cave</a>
</li>
                                </ul>
                            </li>
                        </ul>

                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="modal" data-target="#mkdocs_search_modal">
                                <i class="fa fa-search"></i> Search
                            </a>
                        </li>
                            <li class="nav-item">
                                <a rel="prev" href="../cave_module/" class="nav-link">
                                    <i class="fa fa-arrow-left"></i> Previous
                                </a>
                            </li>
                            <li class="nav-item">
                                <a rel="next" href="../math/" class="nav-link">
                                    Next <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                    <div class="col-md-3"><div class="navbar-light navbar-expand-md bs-sidebar hidden-print affix" role="complementary">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#toc-collapse" title="Table of Contents">
            <span class="fa fa-angle-down"></span>
        </button>
    </div>

    
    <div id="toc-collapse" class="navbar-collapse collapse card bg-secondary">
        <ul class="nav flex-column">
            
            <li class="nav-item" data-level="1"><a href="#components" class="nav-link">Components</a>
              <ul class="nav flex-column">
            <li class="nav-item" data-level="2"><a href="#cavetransformcomponent" class="nav-link">cave.TransformComponent</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-level="2"><a href="#cavemeshcomponent" class="nav-link">cave.MeshComponent</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-level="2"><a href="#cavelightcomponent" class="nav-link">cave.LightComponent</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-level="2"><a href="#caveuielementcomponent" class="nav-link">cave.UIElementComponent</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-level="2"><a href="#caverigidbodycomponent" class="nav-link">cave.RigidBodyComponent</a>
              <ul class="nav flex-column">
              </ul>
            </li>
              </ul>
            </li>
        </ul>
    </div>
</div></div>
                    <div class="col-md-9" role="main">

<h1 id="components">Components</h1>
<hr />
<h2 id="cavetransformcomponent">cave.TransformComponent</h2>
<h5 id="variables">Variables</h5>
<pre><code class="language-python">position : cave.Vector3
</code></pre>
<pre><code class="language-python">scale : cave.Vector3
</code></pre>
<p>Note that you can't get/set the rotation using regular variables as you can with the <code>position</code> and <code>scale</code>. That's due to the way the engine works internally. So use the getters and setters for <code>euler</code> angles or <code>quaternions</code> to rotate as you need to. You can see the details bellow. Sample code (as it would be in the update method of a Component):</p>
<pre><code class="language-python">[...]
def update(self):
    transform = self.entity.getTransform()

    # Modifying the current euler angles by adding 0.1 on the Y axis:
    euler = transform.getEuler()
    euler.y += 0.1
    transform.setEuler(euler)

    # or you can use this to ROTATE the object:
    # (will produce the same result as the approach above)
    transform.rotate(0, 0.1, 0)
</code></pre>
<pre><code class="language-python">[...]
    # Last but no least, you can also do this to SET the euler:
    # (note that this approach will not produce the same result
    # as the two others presented above. This one wil SET the
    # rotation to [0, 0, 0])
    transform.setEuler(0, 0, 0)
</code></pre>
<h5 id="methods">Methods</h5>
<pre><code class="language-python">getEuler() -&gt; cave.Vector3
setEuler(euler : cave.Vector3)
setEuler(x : float, y : float, z : float)

getQuaternion() -&gt; cave.Quaternion
setQuaternion(quaternion : cave.Quaternion)
setQuaternion(x : float, y : float, z : float, w: float)
</code></pre>
<pre><code class="language-python">getMatrix() -&gt; cave.Matrix4
setMatrix(mat : cave.Matrix4)
</code></pre>
<pre><code class="language-python">rotate(x : float, y : float, z : float)
move(x : float, y : float, z : float, local = True)
</code></pre>
<pre><code class="language-python">rotateOnAxis(angle : float, axis : cave.Vector3)
</code></pre>
<pre><code class="language-python">rotateOnPitch(angle : float)
rotateOnYaw(angle : float)
rotateOnRoll(angle : float)
</code></pre>
<pre><code class="language-python">applyLocalMovement(x : float, y : float, z : float)
</code></pre>
<pre><code class="language-python">getPitch() -&gt; float
getYaw() -&gt; float
getRoll() -&gt; float
</code></pre>
<pre><code class="language-python">getForwardVector() -&gt; cave.Vector3
getRightVector() -&gt; cave.Vector3
getUpVector() -&gt; cave.Vector3
</code></pre>
<pre><code class="language-python">lookAt(direction : cave.Vector3, up = cave.Vector3(0, 1, 0))
</code></pre>
<pre><code class="language-python">rotateVector(vec : cave.Vector3) -&gt; cave.Vector3
</code></pre>
<pre><code class="language-python">transformVector(vec : cave.Vector3) -&gt; cave.Vector3
</code></pre>
<hr />
<h2 id="cavemeshcomponent">cave.MeshComponent</h2>
<h5 id="methods_1">Methods</h5>
<pre><code class="language-python">setAnimation(animation : string)
</code></pre>
<hr />
<h2 id="cavelightcomponent">cave.LightComponent</h2>
<p>You can adjust various light parameters. Here is a sample code that makes the light color pulse using some timers and the python native math.sin() function:</p>
<pre><code class="language-python">import cave
import math
import random

class PulsingLight(cave.Component):
    def start(self, scene):
        self.speed = 2.0

        # Creating some timers with a random value to sample from
        self.colorX = cave.Timer(random.random())
        self.colorY = cave.Timer(random.random())
        self.colorZ = cave.Timer(random.random())

    def compute(self, value):
        # Maps the timer into a sin curve ranged [0 - 1]
        return (math.sin(value * self.speed) + 1) / 2

    def update(self):       
        light = self.entity.get(&quot;Light Component&quot;)

        light.color.x = self.compute(self.colorX.get())
        light.color.y = self.compute(self.colorY.get())
        light.color.z = self.compute(self.colorZ.get())

        print(light.color.x, light.color.y, light.color.z)

        # Don't forget to reload the light, otherwise it will not be updated:
        light.reload()


    def end(self, scene):
        pass
</code></pre>
<h5 id="variables_1">Variables</h5>
<p><strong>NOTE:</strong> Lights are pre cached so the changes you made in the following parameters will not be effective (applied to the light) until you call the <code>reload()</code> method.</p>
<pre><code class="language-python">color : cave.Vector3
radius : float
intensity : float
</code></pre>
<hr />
<h2 id="caveuielementcomponent">cave.UIElementComponent</h2>
<h5 id="variables_2">Variables</h5>
<pre><code class="language-python">text : str
</code></pre>
<pre><code class="language-python">position : cave.UIVector
</code></pre>
<pre><code class="language-python">scale : cave.UIVector
</code></pre>
<pre><code class="language-python">text : str
</code></pre>
<h5 id="methods_2">Methods</h5>
<pre><code class="language-python">isHovered() -&gt; bool
</code></pre>
<hr />
<h2 id="caverigidbodycomponent">cave.RigidBodyComponent</h2>
<h5 id="variables_3">Variables</h5>
<pre><code class="language-python">alwaysActive : bool
</code></pre>
<pre><code class="language-python">linearVelocity : cave.Vector3
angularVelocity : cave.Vector3
angularFactor : cave.Vector3
</code></pre>
<h5 id="methods_3">Methods</h5>
<pre><code class="language-python">getCollisions() -&gt; list(cave.Entity)
</code></pre>
<pre><code class="language-python">collidedWith(tag : string) -&gt; bool
</code></pre>
<pre><code class="language-python">applyTorque(x : float, y : float, z : float)
</code></pre>
<pre><code class="language-python">applyForce(x : float, y : float, z : float, location : cave.Vector3)
</code></pre>
<pre><code class="language-python">isDynamic() -&gt; bool
</code></pre>
<pre><code class="language-python">setMass(value : float)
</code></pre></div>
            </div>
        </div>

        <footer class="col-md-12">
            <hr>
            <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script>
            var base_url = "../..",
                shortcuts = {"help": 191, "next": 78, "previous": 80, "search": 83};
        </script>
        <script src="../../js/base.js" defer></script>
        <script src="../../search/main.js" defer></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="searchModalLabel">Search</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <p>From here you can search these documents. Enter your search terms below.</p>
                <form>
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search..." id="mkdocs-search-query" title="Type search term here">
                    </div>
                </form>
                <div id="mkdocs-search-results" data-no-results-text="No results found"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    </body>
</html>
