<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../../../img/favicon.ico">
        <title>Component - Cave Engine Docs</title>
        <link href="../../../css/bootstrap.min.css" rel="stylesheet">
        <link href="../../../css/font-awesome.min.css" rel="stylesheet">
        <link href="../../../css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/github.min.css">

        <script src="../../../js/jquery-1.10.2.min.js" defer></script>
        <script src="../../../js/bootstrap.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script> 
    </head>

    <body>
        <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="../../..">Cave Engine Docs</a>
                <!-- Expander button -->
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Expanded navigation -->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                        <!-- Main navigation -->
                        <ul class="nav navbar-nav">
                            <li class="navitem">
                                <a href="../../.." class="nav-link">Home</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../../Docs/faq/" class="dropdown-item">Frequently Asked Questions (FAQ)</a>
</li>
                                    
<li>
    <a href="../../../Docs/eula/" class="dropdown-item">License (EULA)</a>
</li>
                                    
<li>
    <a href="../../../Docs/roadmap/" class="dropdown-item">Roadmap</a>
</li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Release Notes</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../../Docs/Releases/v098/" class="dropdown-item">Cave 0.9.8</a>
</li>
            
<li>
    <a href="../../../Docs/Releases/v0972/" class="dropdown-item">Cave 0.9.7.2</a>
</li>
            
<li>
    <a href="../../../Docs/Releases/v097/" class="dropdown-item">Cave 0.9.7</a>
</li>
    </ul>
  </li>
                                </ul>
                            </li>
                            <li class="dropdown active">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Python API <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../introduction/" class="dropdown-item">Introduction</a>
</li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Core</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../scene/" class="dropdown-item">Scene</a>
</li>
            
<li>
    <a href="../entity/" class="dropdown-item">Entity</a>
</li>
            
<li>
    <a href="./" class="dropdown-item active">Component</a>
</li>
    </ul>
  </li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Components</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../Components/transform/" class="dropdown-item">Transform Component</a>
</li>
            
<li>
    <a href="../../Components/gameplay/" class="dropdown-item">Gameplay Components</a>
</li>
            
<li>
    <a href="../../Components/graphics/" class="dropdown-item">Graphics Components</a>
</li>
            
<li>
    <a href="../../Components/physics/" class="dropdown-item">Physics Components</a>
</li>
            
<li>
    <a href="../../Components/interface/" class="dropdown-item">Game UI</a>
</li>
    </ul>
  </li>
                                    
<li>
    <a href="../../math/" class="dropdown-item">Math</a>
</li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Engine</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../engineUtils/" class="dropdown-item">Utilities</a>
</li>
            
<li>
    <a href="../../engineMisc/" class="dropdown-item">Miscellaneous</a>
</li>
    </ul>
  </li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Assets</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../Assets/materials/" class="dropdown-item">Material Manipulation</a>
</li>
            
<li>
    <a href="../../Assets/meshes/" class="dropdown-item">Mesh Manipulation</a>
</li>
            
<li>
    <a href="../../Assets/audio/" class="dropdown-item">Audio Playing</a>
</li>
    </ul>
  </li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Events</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../Events/events/" class="dropdown-item">Handling Events</a>
</li>
            
<li>
    <a href="../../Events/keycodes/" class="dropdown-item">Keycodes</a>
</li>
    </ul>
  </li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Editor Only API</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../EditorAPI/tooling/" class="dropdown-item">Writting your own Tools</a>
</li>
            
<li>
    <a href="../../EditorAPI/uiModule/" class="dropdown-item">UI Submodule API</a>
</li>
    </ul>
  </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Showcase <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../../Showcase/games/" class="dropdown-item">Games Made with Cave</a>
</li>
                                </ul>
                            </li>
                            <li class="navitem">
                                <a href="../../../getCave/" class="nav-link">Get Cave!</a>
                            </li>
                            <li class="navitem">
                                <a href="https://bit.ly/patreon-uniday" class="nav-link">Our Patreon</a>
                            </li>
                        </ul>

                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="modal" data-target="#mkdocs_search_modal">
                                <i class="fa fa-search"></i> Search
                            </a>
                        </li>
                            <li class="nav-item">
                                <a rel="prev" href="../entity/" class="nav-link">
                                    <i class="fa fa-arrow-left"></i> Previous
                                </a>
                            </li>
                            <li class="nav-item">
                                <a rel="next" href="../../Components/transform/" class="nav-link">
                                    Next <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                    <div class="col-md-3"><div class="navbar-light navbar-expand-md bs-sidebar hidden-print affix" role="complementary">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#toc-collapse" title="Table of Contents">
            <span class="fa fa-angle-down"></span>
        </button>
    </div>

    
    <div id="toc-collapse" class="navbar-collapse collapse card bg-secondary">
        <ul class="nav flex-column">
            
            <li class="nav-item" data-level="1"><a href="#components" class="nav-link">Components</a>
              <ul class="nav flex-column">
            <li class="nav-item" data-level="2"><a href="#cavecomponent" class="nav-link">cave.Component</a>
              <ul class="nav flex-column">
              </ul>
            </li>
              </ul>
            </li>
            
            <li class="nav-item" data-level="1"><a href="#creating-your-own-components" class="nav-link">Creating your own Components</a>
              <ul class="nav flex-column">
            <li class="nav-item" data-level="2"><a href="#-important-note" class="nav-link">- Important Note:</a>
              <ul class="nav flex-column">
              </ul>
            </li>
              </ul>
            </li>
        </ul>
    </div>
</div></div>
                    <div class="col-md-9" role="main">

<h1 id="components">Components</h1>
<p>If the <code>cave.Scene</code> is where all your game will happen and the <code>cave.Entity</code> is the main class you'll use to build all that, then the <code>cave.Component</code> is the "final piece of the puzzle" that you'll use to customize your Entities as you want and need to. You'll not use the <code>cave.Component</code> alone, but it's important that you understand precisely what it have to offer because this will allow you to understand the entire rest of the Engine and its builtin components. </p>
<p>But most importantly: it will allow you to create your own Components! The main way that <strong>Cave Engine</strong> is intender to be programmed by you is by creating new Components, that inherits from this <code>cave.Component</code> class and implements its virtual methods. That means that all the methods you'll see here, except the <code>reload</code> one, are virtual and can be overwritten by you as you need.</p>
<p><strong>By the end of this page, you'll find an example of how to create your own Component.</strong></p>
<p>So let's get started!</p>
<hr />
<h2 id="cavecomponent">cave.Component</h2>
<h5 id="variables">Variables</h5>
<p>The component only have one variable: the <code>entity</code>. It stores the <code>cave.Entity</code> owner of the Component. You can't set it to something else (if you try to, it will just ignore what you've done).</p>
<pre><code class="language-python">entity : cave.Entity
</code></pre>
<h5 id="methods">Methods</h5>
<p>All the methods above, except the <code>reload</code> one, are meant to be overwritted by you. So feel free to do it so.</p>
<p>Let's start with the basics: When the Entity starts in the scene, it will first call all its Component's <code>start</code> method, <strong>so that's the perfect place to initialize your variables and so on.</strong> If your component's initialization relies on other Component's initialization, then it's best to use the <code>firstUpdate</code> method as well. After the Entity calls all its component's <code>start</code> method, it will call the <code>firstUpdate</code>.</p>
<p><strong>Important:</strong> The Entity is the one who decided whenever to call the <code>firstUpdate</code> method of the components or not and it only calls it before the Entity's first update gets execution internally by the engine code. Meaning that all the Components already in the Entity when it gets created will have this function executed, but after that, even if you reload the Component or add it afterwards, it will not call the Component's <code>firstUpdate</code> anymore.</p>
<p>Here is the Reference API:</p>
<pre><code class="language-python">start(scene : cave.Scene)
firstUpdate()
</code></pre>
<p>Once the component started (after the previous two functions gets called), <strong>every frame</strong> the Entity will call <strong>one of those two methods below</strong>, depending if the Scene is <strong>paused</strong> or not (read the <strong>Scene's Documentation</strong> for more details). Meaning that this is the perfect place to put your main logic code. Most of the times, what you're looking for is the <strong><code>update</code> method</strong>. <code>pausedUpdate</code> only gets called while the scene is paused, as the name suggests and you probably don't want to run Enemy logic on it, as an example.</p>
<pre><code class="language-python">update()
pausedUpdate()
</code></pre>
<p>When the Entity is about to get deleted, it will call all the Component's <code>end</code> method. It also can be called in other situations, such as by the <code>reload</code> method, so keep that in mind. This is a good place to add "shutdown" code, if you have anything to do in it.</p>
<pre><code class="language-python">end(scene : cave.Scene)
</code></pre>
<p>Last but not least, we have the <code>reload</code> method. This one can't be overwritten. It will <code>end(...)</code> the component and then <code>start(..)</code> it again. It's useful because some components like the Mesh and the Light, for optimization purposes, pre cache the data and only changes it during the start.</p>
<pre><code class="language-python">reload()
</code></pre>
<hr />
<h1 id="creating-your-own-components">Creating your own Components</h1>
<p>As promised, I'll show you a code example on how to create your own components. The good news is that it's very simple! In fact, if you create a new <strong>Python Script</strong> in the engine, it will already have this sample code already added for you, so don't worry a lot about it. </p>
<p>Here is a simple code to create own own <code>SuperCustomComponent</code>:</p>
<pre><code class="language-python">import cave

class SuperCustomComponent(cave.Component):
    def start(self, scene):
        print(&quot;I'm alive!&quot;)

    def update(self):
        # You can write your update stuff here!
        pass

    def end(self, scene):
        print(&quot;Goodbye!&quot;)
</code></pre>
<h2 id="-important-note">- Important Note:</h2>
<p>You may have noticed that I haven't overwritted the Component's constructor, also known as <code>__init__</code> by Python. If, for some reason, you decide to have your own <code>__init__</code> method, you <strong>MUST</strong> initialize the base <code>cave.Component</code> class and pass the <code>args</code> and <code>kwargs</code> to it, otherwise the Component will not be properly attached to the Entity and it will lead to Undefined Behaviours. <strong>Never forget this!</strong> Here is how you can do it:</p>
<pre><code class="language-python">    def __init__(self, *args, **kwargs):
        # Initializing the base class, cave.Component:
        super().__init__(*args, **kwargs)

        # Now you can put your code:
        print(&quot;Hello, world!&quot;)
</code></pre></div>
            </div>
        </div>

        <footer class="col-md-12">
            <hr>
            <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script>
            var base_url = "../../..",
                shortcuts = {"help": 191, "next": 78, "previous": 80, "search": 83};
        </script>
        <script src="../../../js/base.js" defer></script>
        <script src="../../../search/main.js" defer></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="searchModalLabel">Search</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <p>From here you can search these documents. Enter your search terms below.</p>
                <form>
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search..." id="mkdocs-search-query" title="Type search term here">
                    </div>
                </form>
                <div id="mkdocs-search-results" data-no-results-text="No results found"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    </body>
</html>
